[Unit]
Description=Mount /nix from ~/.nix
After=local-fs.target var-home.mount ensure-nix-dir.service
Wants=nix-dir.service
[Mount]
Options=bind,nofail
What=/home/robin/.nix
Where=/nix
[Install]
WantedBy=multi-user.target
